html{
	background: url(https://upload.wikimedia.org/wikipedia/commons/2/25/Monstrous_craws%2C_at_a_new_coalition_feast.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	margin: 0;
}
.ul1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4654A8;
	position: fixed;
    top: 0;
    width: 100%;
	opacity: 0.75;
	z-index: 102;
}
a{
	text-decoration: none;
	color: #FFE209;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
}
.li1 {
    float: left;
	border-right: 1px solid white;
}
.li1:nth-last-child(2){
	float: right;
}
.li1:nth-last-child(3){
	float: right;
	border-right: none;
}
.li1:last-child{
	float: right;
	border-left: 1px solid white;
}
.li1 a {
    display: block;
    padding: 20px;
}
.li1 a:hover:not(.active) {
    background-color: #BDA70A;
	color: #3A1381;
}
.active {
    background-color: #BDA70A;
	color: #3A1381;
}
.footer {
    position: relative;
	clear: both;
    bottom: 0;
    width: 100%;
	padding-top: 2px;
	padding-bottom: 12px;
    background-color: #177272;
    color: white;
	height: 3em;
    text-align: center;
	opacity: 0.75;
	z-index: 101;
	margin-top: 2px;
}
.p1{
	float: left;
	list-style-type: none;
	font-family: Helvetica;
	text-align:left;
	margin-left: -25px;
}
.p2{
	float: right;
	list-style-type: none;
	font-family: Helvetica;
}
.p3{
	text-align: center;
	list-style-type: none;
	font-family: Helvetica;
	font-size: 12px;
}
.p3>a{
	text-align: center;
	list-style-type: none;
	font-family: Helvetica;
	font-size: 12px;
}
td{
	width: 200px;
	font-size: 20px;
	font-family: Helvetica;
	border-collapse: collapse;
	border: 4px solid black;
}
table{
	border-collapse: collapse;
	border: 8px solid black;
	margin: auto;
	margin-bottom: -60px;
	padding: 100px;
	background: #daad86;
}
img{
	height: 200px;
	width: 200px;
	display: block;
	vertical-align: bottom;
}
h1{
	font-family: Verdana;
}
.div1{
	margin-top: 100px;
	margin-bottom: 100px;
}
th{
	background: #659dbd;
	opacity: 0.8;
}